$counter-size: 30px;

.counter {
  .counterNumber {
    color: white;
    background: #226666;
    width: $counter-size;
    height: $counter-size;
    line-height: $counter-size;
    text-align: center;
  }
}
